body{

font-family:Arial;
background:#0d1117;
color:white;
display:flex;
justify-content:center;
margin-top:50px;

}

.container{

background:#161b22;
padding:30px;
border-radius:10px;
width:300px;

}

input{

display:block;
margin:10px 0;
padding:10px;
width:100%;

}

button{

padding:10px;
width:100%;
background:#238636;
color:white;
border:none;

}

li{

margin-top:10px;

}

.excluir{

color:red;
cursor:pointer;
margin-left:10px;

}
